<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Scripts iconos -->
    <script src="https://kit.fontawesome.com/6cfff2ec0f.js" crossorigin="anonymous"></script>
    <title>Actualizando Medico</title>
    <!-- Links Estilos Generales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navs/menuLeft.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'forms/formCrear.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='modals/messages.css')}}">
  </head>
  <body>

    <section class="sectionHomeTable">
      <section class="navLeft">
        <div class="logoNav"><span><i class="fa-solid fa-staff-snake"></i></span></div>
        <div class="navMenuLeft">
          <ul>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/"><span><i class="fa-solid fa-house"></i></span>HOME</a></li>
            <li><a class="botonPrimary" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-table"></i></span>INFORMACIÓN</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos/create"><span><i class="fa-solid fa-user-plus"></i></span>CREAR USUARIO</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/citas/create"><span><i class="fa-solid fa-file-circle-plus"></i></span>CREAR CITA</a></li>
          </ul>
        </div>
      </section>
      <section class="contenidoRight">
        <nav>
          <div class="headerRight">
            <h3>SALUD.PY</h3>
            <p>Actualizar medico</p>
          </div>
        </nav>
        <section class="sectionForm">
          <article class="articleForm">
            <nav class="navForm" >
              <h3 class="titleForm" >Actualizar Medico</h3>
              <a  class="butonPrimary" href="http://127.0.0.1:5000/medicos">Lista de Medicos</a>
            </nav>

            <form method="post" class="formPrimary" action="/medicos/update/{{medico_update.id}}"> 
              <div>
                <label for="nombres">Nombres</label>
                <input type="text" name="nombres"  value="{{ medico_update.nombres }}" id="nombres" required>
              </div>
              <div>
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos"  value="{{ medico_update.apellidos }}" id="apellidos" required>
              </div>
              <section class="sectionIntoForm">
                <div>
                  <label for="tipoIdentificacion">Tipo de identificacion</label>
                  <select name="tipoID"  required>
                    <option {% if medico_update.tipo_identificacion == 'TI' %} selected {%endif%}>T.I</option>
                    <option {% if medico_update.tipo_identificacion == 'CC' %} selected {%endif%}>C.c</option>
                  </select>
                </div>
                <div>
                  <label for="nIdentificacion">Numero de identificacion</label>
                  <input type="text" name="numeroID" value="{{ medico_update.numero_identificacion }}" id="nIdentificacion" required>
                </div>
                <div>
                  <label for="nRegistro">Registro medico</label>
                  <input type="text" name="registroMedico" value="{{ medico_update.registro_medico }}" id="nRegistro" required>
                </div>
              </section>
              <div>
                <label for="especialidad">Especialidad: </label>
                <select name="especialidad" id="especialidad" required >
                  {% for especialidad in especialidades %}
                  <option {% if medico_update.especialidad == especialidad %} selected {%endif%} > {{ especialidad }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="botonPrimary botonForm">Actualizar Medico</button>
            </form>
          </article>
        </section>
      </section>
    </section>
  </body>
</html>























