<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Scripts iconos -->
    <script src="https://kit.fontawesome.com/6cfff2ec0f.js" crossorigin="anonymous"></script>
    <title>Detalles del medico</title>
    <!-- Links Estilos Generales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navs/menuLeft.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='modals/details.css')}}">

  </head>
  <body>
    <section class="detallesId">
      <article class="infoDetalles">
        <div class="headerInfoId">  
          <h3>Informacion del medico <span>{{ medicoId.nombres }}</span></h3>
          <a  class="botonPrimary" href="http://127.0.0.1:5000/medicos">Volver al listado</a>
        </div> 
        <ul class="">
          <li><span>Nombres:</span><p>{{medicoId.nombres}}</p> </li>
          <li><span>Apellidos:</span> {{medicoId.nombres}}</li>
          <li><span>Tipo de identificacion:</span> {{medicoId.tipo_identificacion}}</li>
          <li><span>Numero identificacion:</span> {{medicoId.numero_identificacion}}</li>
          <li><span>Registro medico:</span> {{medicoId.registro_medico}}</li>
          <li><span>Especialidad:</span> {{medicoId.especialidad}}</li>
        </ul>
      </article>
    </section>
    <section class="sectionHomeTable">
      <section class="navLeft">
        <div class="logoNav"><span><i class="fa-solid fa-staff-snake"></i></span></div>
        <div class="navMenuLeft">
          <ul>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/"><span><i class="fa-solid fa-house"></i></span>HOME</a></li>
            <li><a class="botonPrimary" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-table"></i></span>INFORMACIÓN</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos/create"><span><i class="fa-solid fa-user-plus"></i></span>CREAR USUARIO</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/citas/create"><span><i class="fa-solid fa-file-circle-plus"></i></span>CREAR CITA</a></li>
          </ul>
        </div>
      </section>

      <section class="contenidoRight">
        <nav>
          <div class="headerRight">
            <h3>SALUD.PY</h3>
            <p>Información de Usuarios</p>
          </div>
        </nav>
      </section>
    </section>

  </body>
</html>
