<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/styles/styles.css">
    <!--Scripts iconos -->
    <script src="https://kit.fontawesome.com/6cfff2ec0f.js" crossorigin="anonymous"></script>
    <title>Lista Medicos</title>
    <!-- Links Estilos Generales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navs/menuLeft.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'forms/formCrear.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'forms/cita_formNext.css')}}">

  </head>
  <body>
    <section class="sectionHomeTable">
      <section class="navLeft">
        <div class="logoNav"><span><i class="fa-solid fa-staff-snake"></i></span></div>
        <div class="navMenuLeft">
          <ul>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/"><span><i class="fa-solid fa-house"></i></span>HOME</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-table"></i></span>INFORMACIÓN</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos/create"><span><i class="fa-solid fa-user-plus"></i></span>CREAR USUARIO</a></li>
            <li><a class="botonPrimary" href="http://127.0.0.1:5000/citas/create"><span><i class="fa-solid fa-file-circle-plus"></i></span>CREAR CITA</a></li>
          </ul>
        </div>
      </section>
      <section class="contenidoRight">
        <nav>
          <div class="headerRight">
            <h3>SALUD.PY</h3>
            <p>Crear Cita Medica</p>
          </div>
        </nav>
        <!-- Seccion Formulario  ******************************************************* -->
        <section class="sectionForm">
          <article class="articleForm">
            <nav class="navForm" >
              <h3 class="titleForm" >Nueva Cita</h3>
              <a  class="botonPrimary" href="http://127.0.0.1:5000/citas">Lista de Citas</a>
            </nav>

            {% for p in paciente %}
            {% if p.numero_identificacion|int() == identPaciente|int()%}
            <form method="post" class="formPrimary" action="./create/asignacion">
              <h3>Datos del paciente</h3>
              <section class="formDataUser">
                <div class="dataUserLeft">
                  <p><span>Nombres: </span> {{p.nombres}}</p>
                  <p><span>Tipo de Identificación: </span> {{p.tipo_identificacion}}</p>
                  <p><span>Altura:</span>{{p.altura}}</p>
                </div>
                <div class="dataUserRight">
                  <p><span>Apellidos:</span>{{p.apellidos}}</p>
                  <p><span>Numero de Identificación:</span>{{p.numero_identificacion}}</p>
                  <p><span>Tipo de sangre:</span>{{p.tipo_sangre}}</p>
                </div>
                <input style="display: none;" type="radio" name="identificacion" checked="checked" value="{{p.numero_identificacion}}">
              </section>
              {%endif%}
              {% endfor %}
              <h3>Servicios Disponibles</h3>
              <section class="especialidadSelect">
                <select name="especialidad" >
                  {%for e in especialidad%}
                  <option value="{{e}}">{{e}}</option>
                  {%endfor%}
                </select>
                <button type="submit" class="botonPrimary botonSeleccionar">Seleccionar</button>
              </section>
            </form>
            {% for espec in especialidadSelect%}
            <p>{{espec}}</p>
            {%endfor%}
          </article>
        </section>
        <!-- Fin seccion formulario -->
      </section>
  </body>
</html>
