<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/styles/styles.css">
    <!--Scripts iconos -->
    <script src="https://kit.fontawesome.com/6cfff2ec0f.js" crossorigin="anonymous"></script>
    <title>Lista Medicos</title>
    <!-- Links Estilos Generales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navs/menuLeft.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'forms/formCrear.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='modals/messages.css')}}">
  </head>
  <body>

    <!-- Mensaje usuario creado exitosamente  -->
    {% with messages = get_flashed_messages(category_filter=["exito"]) %}
    {% if messages %}
    <div class='flashes delete actualizado'>
      {% for message in messages %}
      <div class="exito" >
        <article>
          <h2><span><i class="fa-solid fa-circle-check"></i></span>Cita Medica creada exitosamente</h2>
          <h3>{{ message }}</h3>
          <p>¿que desa hacer? </p>
          <div class="mensajeBoton">
            <a class="butonPrimary" href="http://127.0.0.1:5000/citas/create"> Crear nueva cita</a>
            <a class="butonPrimary" href="http://127.0.0.1:5000/citas">Lista de Citas</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section class="sectionHomeTable">
      <section class="navLeft">
        <div class="logoNav"><span><i class="fa-solid fa-staff-snake"></i></span></div>
        <div class="navMenuLeft">
          <ul>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/"><span><i class="fa-solid fa-house"></i></span>HOME</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-table"></i></span>INFORMACIÓN</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos/create"><span><i class="fa-solid fa-user-plus"></i></span>CREAR USUARIO</a></li>
            <li><a class="botonPrimary" href="http://127.0.0.1:5000/citas/create"><span><i class="fa-solid fa-file-circle-plus"></i></span>CREAR CITA</a></li>
          </ul>
        </div>
      </section>
      <section class="contenidoRight">
        <nav>
          <div class="headerRight">
            <h3>SALUD.PY</h3>
            <p>Crear Cita Medica</p>
          </div>
        </nav>
        <!-- Seccion Formulario  ******************************************************* -->
        <section class="sectionForm">
          <article class="articleForm">
            <nav class="navForm" >
              <h3 class="titleForm" >Nueva Cita</h3>
              <a  class="botonPrimary" href="http://127.0.0.1:5000/citas">Lista de Citas</a>
            </nav>

            <form method="post" class="formPrimary">
              <div class="mb-3">
                <label for="nombres" class="form-label">Numero documento del paciente</label>
                <input type="text" name="identificacion" class="form-control" id="nombres" aria-describedby="emailHelp" required>
              </div>
              <button type="submit" class="botonPrimary botonForm">Buscar Usuario</button>
            </form>
          </article>
        </section>
        <!-- Fin seccion formulario --
      </section>
  </body>
</html>

