<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Scripts iconos -->
    <script src="https://kit.fontawesome.com/6cfff2ec0f.js" crossorigin="anonymous"></script>

    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navs/menuLeft.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'info/infoUser.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename='modals/messages.css')}}">

  </head>
  <body>
    <!-- Mensaje: Confirmacion de eliminar usuario -->
    {% with messages = get_flashed_messages(category_filter=["delete"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="delete" >
      <article>
        <h2><span><i class="fa-solid fa-circle-xmark"></i></span>Eliminar paciente</h2>
        <h3>{{ message }}</h3> 
        <form method="post">
          <div class="mensajeBoton">
            <input style="display: none;" type="radio" name="idDelete" checked="checked" value="{{pacienteD.id}}">
            <a class="butonPrimary" href="http://127.0.0.1:5000/pacientes">Cancelar</a>
            <button type="submit" class="botonPrimary"> Eliminar</button>
          </div>
        </form>
      </article>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Mensaje: Eliminando El usuario  -->
    {% with messages = get_flashed_messages(category_filter=["deletetwo"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="deletetwo" >
      <article>
        <h2><span><i class="fa-solid fa-circle-xmark"></i></span>Paciente Eliminado</h2>
        <h3>{{ message }}</h3>
      </article>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Mensaje: Paciente Actualizado  -->
    {% with messages = get_flashed_messages(category_filter=["upgrade"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="upgrade" >
      <article>
        <h2><span><i class="fa-solid fa-circle-xmark"></i></span>Paciente Actualizado</h2>
        <h3>{{ message }}</h3>
      </article>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- MENSAJE: DETALLES -->
    {% with messages = get_flashed_messages(category_filter=["menssageDetails"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="menssageDetails" >
      <article>
        <h2><span><i class="fa-solid fa-circle-xmark"></i></span>Paciente {{pacienteId.nombres}}</h2>
        <section class="sectionDetails">
          <div>
            <p>Nombres: <span>{{pacienteId.nombres}}</span></p>
            <p>Tipo de identificacion: <span>{{pacienteId.tipo_identificacion}}</span></p>
            <p>Tipo de sangre : <span>{{pacienteId.tipo_sangre}}</span></p>
          </div>
          <div>
            <p>Apellidos: <span>{{pacienteId.apellidos}}</span></p>
            <p>Numero de Identificacion: <span>{{pacienteId.numero_identificacion}}</span></p>
            <p>Altura: <span>{{pacienteId.altura}}</span></p>
          </div>
        </section>
        <div class="mensajeBoton">
          <a href="http://127.0.0.1:5000/pacientes" class="botonPrimary bontonDetails"> Lista Pacientes </a>
          <a href="/pacientes/update/{{ pacienteId.id }}" class="botonPrimary" >Editar</a>
        </div>
      </article>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="sectionHomeTable">
      <section class="navLeft">
        <div class="logoNav"><span><i class="fa-solid fa-staff-snake"></i></span></div>
        <div class="navMenuLeft">
          <ul>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/"><span><i class="fa-solid fa-house"></i></span>HOME</a></li>
            <li><a class="botonPrimary" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-table"></i></span>INFORMACIÓN</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/medicos/create"><span><i class="fa-solid fa-user-plus"></i></span>CREAR USUARIO</a></li>
            <li><a class="botonLineNone" href="http://127.0.0.1:5000/citas/create"><span><i class="fa-solid fa-file-circle-plus"></i></span>CREAR CITA</a></li>
          </ul>
        </div>
      </section>
      <section class="contenidoRight">
        <nav>
          <div class="headerRight">
            <h3>SALUD.PY</h3>
            <p>Información de Usuarios</p>
          </div>
          <div class="navInfoRight">
            <ul>
              <li><a class="botonLine" href="http://127.0.0.1:5000/medicos"><span><i class="fa-solid fa-user-doctor"></i></span>Medicos</a> </li>
              <li><a class="botonPrimary" href="http://127.0.0.1:5000/pacientes"><span><i class="fa-solid fa-user"></i></span> Pacientes </a></li>
              <li><a class="botonLine" href="http://127.0.0.1:5000/consultorios"><span><i class="fa-solid fa-house-medical-flag"></i></span>Consultorios </a></li>
              <li><a class="botonLine" href="http://127.0.0.1:5000/citas"><span><i class="fa-solid fa-file-export"></i></span>Citas</a></li>
            </ul>
          </div>
        </nav>
        <section class="containerRight">
          <div class="navHeaderTable">
            <h3 class="titleTable">LISTA DE PACIENTES</h3>
            <a class="botonPrimary" href="http://127.0.0.1:5000/pacientes/create">+ Crear nuevo Paciente</a>
          </div>
          <article>
            <table class="table">
              <thead class="tableTitle">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>N° Documento</th>
                  <th>Altura</th>
                  <th>Tipo de sangre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for paciente in pacientes %}
                <tr>
                  <td>{{paciente.id}}</td>
                  <td>{{ paciente.nombres }}</td>
                  <td>{{ paciente.apellidos }}</td>
                  <td>{{ paciente.numero_identificacion }}</td>
                  <td>{{ paciente.altura }}</td>
                  <td>{{ paciente.tipo_sangre }}</td>
                  <td class="accionIcon">
                    <a class="iconInfo" href="/pacientes/{{ paciente.id }}"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="iconUpdate" href="/pacientes/update/{{ paciente.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="iconDelete" href="/pacientes/delete/{{ paciente.id }}"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot></tfoot>
            </table>
          </article>
        </section>
      </section>
    </section>
  </body>
</html>
