:root {
  /*Colors */
  --color-primary: #E9EBEC;
  --color-secundary: #10B8B9;
  --color-font : #1E1E1E; 
  --color-font-text: #222426;
  --color-bg-secondary: #f1f1f1;
  --color-extra-bg: #D9D9D9;
  --color-delete: #FC7F7F;
  --color-upgrade:#008B2F;
  --color-details:#7057D2;
  --color-extra-rgba: rgba(34, 36, 38, 0.17);
  --color-icon-rgba:rgba(34, 36, 38, 0.56);
  /*Lineas*/
  --linea-color: 1px solid var(--color-extra-rgba);
  /*Botones */
  --border-butom: 1px solid var(--color-secundary);
}
/*Informacion del usuaro */
.formDataUser{
  display: flex;
  margin-top: 35px;
  gap: 50px;
  border-bottom: 1px solid var(--color-extra-rgba);
  padding-bottom: 35px;
  margin-bottom: 35px;
}
.formDataUser p {
  font-weight: 600;
}
.formDataUser span {
  font-weight: 100;
  margin-right: 15px;
}

/*informacion de la especialidad*/

.especialidadSelect {
  margin-top: 35px;
  display: flex;
  gap: 35px;
}

.botonSeleccionar {
  border: none;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

/* Especialidad selecionada  */

.sectionEspecialidadSelect {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--color-extra-rgba);
  display: flex;
}
.sectionEspecialidadSelect h3 {
  margin-bottom: 25px;
}
.sectionEspecialidadSelect h4 {
  font-weight: 100;
}
.serviSelect {
  width: 30%;
}
.docDisponible {
  border-left:  1px solid var(--color-extra-rgba);
  padding-left: 35px;
  width: 50%;
}

/* Datos de la cita medica  */

.dataCita {
  display: flex;
  margin-top: 25px; 
  gap: 35px;
  border-bottom: 1px solid var(--color-extra-rgba);
  padding-bottom: 35px;
  margin-bottom: 35px;
}
.dataCita h4 {
  margin-bottom: 25px;
}
.consulSection {
 border-left: 1px solid var(--color-extra-rgba);
 padding-left: 35px;
}
.botonAsignar {
  width: 100%;
  border: none;
  justify-content: center;
  font-size: 1rem;
}
