
:root { 
  /*Colors */
  --color-primary: #E9EBEC;
  --color-secundary: #10B8B9;
  --color-font : #1E1E1E; 
  --color-font-text: #222426;
  --color-bg-secondary: #f1f1f1;
  --color-extra-bg: #D9D9D9;
  --color-delete: #FC7F7F;
  --color-upgrade:#008B2F;
  --color-details:#7057D2;
  --color-extra-rgba: rgba(34, 36, 38, 0.17);
  --color-icon-rgba:rgba(34, 36, 38, 0.56);
  /*Lineas*/
  --linea-color: 1px solid var(--color-extra-rgba);
  /*Botones */
  --border-butom: 1px solid var(--color-secundary);
}
.delete {
  background: red;
}
.actualizado {
    background: green;
}
/*Nav info Botones*/
.navInfoRight{
  padding: 25px;
}
.navInfoRight ul  {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.navInfoRight ul li a {
  text-decoration: none;
  color: var(--color-font-text);
}
.navInfoRight ul li a span {
  color: var(--color-icon-rgba);
}

/*header table */

.containerRight{
  padding: 25px;
}

.navHeaderTable {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;

}
.navHeaderTable h3 {
  font-size: 1.75rem;
}

/*Tablas */

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableTitle {
  height: 50px;
  text-align: left;
  border-radius: 6px;
  align-items: baseline;
}
.tableTitle tr {
  background-color: var(--color-extra-bg);
  border-color: none;
  margin-left: 15px;
}
.tableTitle th {
  border: 2px solid var(--color-extra-bg);
  padding-left: 15px;

}

.table td {
    height: 50px;
    border-bottom: 1px solid var(--color-extra-bg);
    padding-left: 15px;
}
.table tr:hover{
  background-color: var(--color-extra-bg);
}

.accionIcon {
  display: flex;
  gap: 20px;
  align-items: center;
}
.iconInfo {
  color: var(--color-details);
}
.iconUpdate {
  color: var(--color-upgrade);
}
.iconDelete {
  color: var(--color-delete);
}
